* {
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  color: var(--main-font-color);
}

#root {
  margin: 40px 60px;
}

.page-header {
  text-transform: capitalize;
  margin-bottom: 30px;
}

.btn {
  padding: 20px 30px;
  border-radius: 3px;
  background-color: #F64C72;
  color: white;
  display: inline-block;
  text-align: center;
}

.btn-submit {
  padding: 20px 30px;
  font-size: 22px;
  font-weight: bold;
  border-radius: 10px;
  background-color: #9a60ca;
  color: black;
  transition: all .3s;
}

.btn-submit:hover {
  background-color:  #2A1B3D;
  color: white;
  font-size: 22px;
}

.rooms {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
}

.room-card {
  padding: 20px;
  height:300px;
  margin-right: 30px;
  width:300px;
  border: 1px solid rgb(209, 206, 206);
  box-shadow: 1px 1px 10px #2a1b3d67;
  text-align: center;
  background-color: #f8f8f6;
}

.room-card .members {
  text-align: left;
  margin-bottom: 10px;
}

.room-card h2 {
text-transform: capitalize;
text-align: left;
}

.room-card .btn {
  display: inline-block;
  margin: 100px auto;
  padding: 15px 60px;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  transition: all .3s;
}

.room-card .btn:hover {
  background-color: #F64C72;
  color:white;
  font-weight: bold;
  border:2px solid white;
  cursor:pointer;
}
/* ------------------------------------- */
#game-page {
  display:flex;
  padding: 30px;
}

.room-details {
  width: 30%;
  
}

.user-progress label.finished {
  font-weight: bold;
  color: rgb(172, 31, 55);
}

.user-status {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  margin-top: 10px;
}

.user-status.ready {
  background-color: green;
}

.text-box {
  flex: 1;
  position: relative;
  border: 1px solid rgb(19, 19, 18);
}

.seconds-left {
 position: absolute;
 right:20px;
 top:20px;
 font-size: 24px;
}

#countdown {
  font-size: 124px;
}

#text {
  font-size: 24px;
}

#text span.current {
  border-bottom: 1px solid darkolivegreen;
}

#text span.typed {
  background-color: green;
  color: white;
}

/* -------------------------------------- */

.full-screen {
  height: 100vh;
  width: 100%;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.no-select {
  user-select: none;
}

.display-none {
  display: none;
}

input {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  outline: none;
  background-color: var(--white);
  border: 1px solid var(--input-border-color);
}

input::placeholder {
  color: var(--input-placeholder-color);
}

:root {
  --main-font-color: #333;
  --main-button-background-color: lightgrey;
  --main-button-border-color: #999;
  --input-border-color: #999;
  --input-placeholder-color: #888;
  --white: #fff;
}
